$transparent: transparent;
$primary-light: #33b0f6;
$secondary-light: #6c757d;
$success-light: #4caf50;
// $info-light: #2196f3;
$warning-light: #ff9800;
$danger-light: #f56;
$white-light: #007bff;
$black-light: #3c3c3c;
$blue-light: #007bff;
$indigo-light: #007bff;
$purple-light: #c13780;
$pink-light: #007bff;
$red-light: #007bff;
// $red100-light: #e96315;
// $red200-light: #ffe5e1;
// $red300-light: #eb4b3f;
// $red700-light: #b60b0b;
$orange-light: #007bff;
$yellow-light: #007bff;
$green-light: #007bff;
$teal-light: #007bff;
$cyan-light: #007bff;
$gray-light: #007bff;
// $disabled-light: #d2d2d1;
// $gray50-light: #fdfdfd;
// $gray100-light: #e1e1e1;
// $gray200-light: #f7f7f7;
// $gray300-light: #c9c9d2;
// $gray500-light: #717171;
// $gray550-light: #949494;
// $gray600-light: #4c4c4c;
// $gray700-light: #3c3c3c;
// $gray800-light: #24282e;

// // Dark Theme colors list
// $primary-dark: #0069d9;
// $secondary-dark: #383d41;
// $success-dark: #28a745;
// $info-dark: #17a2b8;
// $warning-dark: #ffc107;
// $danger-dark: #dc3545;
// $white-dark: #0069d9;
$black-dark: #3c3c3c;
$black: #000;

$blue-dark: #0069d9;
// $indigo-dark: #0069d9;
// $purple-dark: #8e044d;
// $pink-dark: #0069d9;
// $red-dark: #0069d9;
// $red100-dark: #e96315;
// $red200-dark: #ffe5e1;
// $red300-dark: #eb4b3f;
// $red700-dark: #b60b0b;
// $orange-dark: #0069d9;
// $yellow-dark: #0069d9;
// $green-dark: #0069d9;
// $teal-dark: #0069d9;
// $cyan-dark: #0069d9;
// $gray-dark: #0069d9;
// $disabled-dark: #d2d2d1;
// $gray50-dark: #fdfdfd;
// $gray100-dark: #e1e1e1;
// $gray200-dark: #f7f7f7;
// $gray300-dark: #c9c9d2;
// $gray500-dark: #717171;
// $gray550-dark: #949494;
// $gray600-dark: #4c4c4c;
// $gray700-dark: #3c3c3c;
// $gray800-dark: #24282e;

// // Definitive Colors
// // Remove all the rests

// // Grey

$grey-1: #f7f7f7;
$grey-2: #e1e1e1;
$grey-3: #d2d2d1;
$grey-4: #949494;

// // Neutral
$white: #fff;
$neutral-white: #fff;
$neutral-lighter: #f7f7f7;
$neutral-light: #e1e1e1;
$disabled-light: #e1e1e1;
$neutral-neutral: #d2d2d1;
$neutral-darker: #717171;
$neutral-darkest: #3c3c3c;

// // Main Colors
$supernova: #ffc905;
$brand-supernova: #ffc905;
$brand-supernova-dark: #ffa705;

$brand-nebula-blue: #003da5;
$nebula-blue: #003da5;
$brand-nebula-blue-dark: #002276;
$nebula-blue-dark: #002276;

$myrtille: #018cff;
$myrtille-dark: #1068d9;

$brand-nebula-blue-shades: #e6efff;

$brand-cobalt-dark: #00c;
$cobalt-dark: #00c;
$brand-cobalt: #00f;
$cobalt: #00f;
$brand-comet: #a71680;
$brand-comet-dark: #8e044d;

// // Other Palet

$additional-link: #0f62fe;

$system-success-light: #daf1e4;
$system-error-light: #ffe5e1;
$system-alert-light: #fdf4e7;
$system-alert-medium: #fb9d2b;
$system-info-light: #e8f6fc;

$system-success-dark: #0b7c29;
$system-error: #eb4b3f;
$system-error-dark: #b60b0b;
$system-alert-dark: #834e02;
$system-info-dark: #09699e;

$dark-grey: #24282e;
