// Mixins for backgroundcolor
@mixin bg-color($color) {
  background-color: $color;
}

// Mixins for text color
@mixin text-color($color) {
  color: $color;
}

// Mixins for border color
@mixin border-color($color) {
  border-color: $color;
}

// Mixins for outline color
@mixin outline-color($color) {
  outline-color: $color;
}

// Mixins for box shadow
@mixin box-shadow($shadow) {
  box-shadow: $shadow;
}
