@import '../base/functions';
@import '../base/colors';
@import '../base/mixins';
@import '../base/variables';

.base {
  padding: px-to-rem(12px) px-to-rem(24px);
  border: none;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  width: fit-content;
  text-decoration: none;
  transition: 100ms all;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;

  .loading {
    opacity: 0;
  }

  .spinner {
    opacity: 1;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  &:active {
    border-color: transparent;
    outline: 2px solid #{$blue-light}44;
  }
}

.#{$prefix}-btn-default {
  @extend .base;

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  &.#{$prefix}-btn-lg {
    font-size: px-to-rem(18px);
  }

  &.#{$prefix}-btn-md {
    font-size: px-to-rem(14px);
  }

  &.#{$prefix}-btn-sm {
    font-size: px-to-rem(12px);
  }

  &.#{$prefix}-btn-error {
    &:hover {
      @include bg-color($system-error-dark);
    }
    &:active {
      @include bg-color($system-error);
    }
  }

  &.#{$prefix}-btn-nebula-blue {
    @include bg-color($brand-nebula-blue);
    &:hover {
      @include bg-color($brand-nebula-blue-dark);
    }
    &:active {
      @include bg-color($brand-nebula-blue);
    }

    .spinner {
      border: 3px solid #fff;
      border-bottom-color: #ffc905;
    }
  }

  &.#{$prefix}-btn-myrtille {
    @include bg-color($brand-myrtille);
    &:hover {
      @include bg-color($brand-myrtille-dark);
    }
    &:active {
      @include bg-color($brand-myrtille);
    }

    .spinner {
      border: 3px solid #fff;
      border-bottom-color: #ffc905;
    }
  }

  &.#{$prefix}-btn-black {
    @include bg-color($black-dark);
    &:hover {
      @include bg-color($black-dark);
    }
    &:active {
      @include bg-color($black-dark);
    }
    .spinner {
      border: 3px solid black;
      border-bottom-color: white;
    }
  }

  &.#{$prefix}-btn-disabled-light {
    @include bg-color($disabled-light);
    &:hover {
      @include bg-color($disabled-light);
    }
    &:active {
      @include bg-color($disabled-light);
    }
  }

  &.#{$prefix}-btn-supernova {
    @include bg-color($brand-supernova);
    &:hover {
      @include bg-color($brand-supernova);
    }
    &:active {
      @include bg-color($brand-supernova);
    }
  }

  &.#{$prefix}-btn-neutral {
    @include bg-color($neutral-neutral);
    &:hover {
      @include bg-color($neutral-neutral);
    }
    &:active {
      @include bg-color($neutral-neutral);
    }
  }
}

.#{$prefix}-btn-link {
  @extend .base;
  background-color: transparent;
}

.#{$prefix}-btn-outline {
  @extend .base;
  background-color: transparent;
  outline: 1px solid;

  &:hover {
    outline: 3px solid;
  }

  &.#{$prefix}-btn-supernova {
    @include border-color($brand-supernova);
    @include text-color($brand-supernova);
  }
  &.#{$prefix}-btn-comet {
    @include border-color($brand-comet);
    @include text-color($brand-comet);
  }
  &.#{$prefix}-btn-error {
    @include border-color($system-error);
    @include text-color($system-error);
  }
  &.#{$prefix}-btn-myrtille {
    @include border-color($brand-myrtille);
    @include text-color($brand-myrtille);
  }
  &.#{$prefix}-btn-nebula-blue {
    @include border-color($brand-nebula-blue);
    @include text-color($brand-nebula-blue);
  }
  &.#{$prefix}-btn-black {
    @include border-color($black-dark);
    @include text-color($black-dark);
    .spinner {
      border: 3px solid #fff;
      border-bottom-color: black;
    }
  }
  &.#{$prefix}-btn-white {
    @include border-color($neutral-white);
  }
  &.#{$prefix}-btn-disabled-light {
    @include border-color($disabled-light);
  }
}
