@import '../base/functions';
@import '../base/colors';
@import '../base/mixins';
@import '../base/variables';

$supernova: ('supernova' $brand-supernova $black $brand-supernova-dark $brand-supernova-dark $neutral-white $black-dark);
$nebula-blue: ('nebula-blue' $brand-nebula-blue $white $brand-nebula-blue-dark $brand-nebula-blue-dark $brand-supernova $neutral-white);
$error: ('error' $system-error $white $system-error-dark $system-error-dark $transparent $white);
$myrtille: ('myrtille' $brand-myrtille $white $brand-myrtille-dark $brand-myrtille-dark $neutral-white $brand-supernova $neutral-white);
$black: ('black' $black-dark $white $black-dark $black-dark $neutral-white $black-dark);
$disabled-light: ('disabled-light' $disabled-light $white $disabled-light $disabled-light);
$neutral: ('neutral' $neutral-neutral $white $neutral-neutral $neutral-neutral);
$comet: ('comet' $brand-comet $white $brand-comet-dark $brand-comet-dark $neutral-white);

$default-colors: ($supernova, $error, $nebula-blue, $myrtille, $black, $disabled-light, $neutral, $comet);

@mixin spinner($color, $bottomColor) {
  .spinner {
    border: 3px solid #{$color};
    border-bottom-color: #{$bottomColor};
  }
}

@mixin btn-default-colors($name, $bgColor, $textColor, $hoverColor, $activeColor, $spinnerSolidColor, $spinnerBottomColor) {
  @include bg-color($bgColor);
  @include text-color($textColor);
  &:hover {
    @include bg-color($hoverColor);
  }
  &:active {
    @include bg-color($activeColor);
  }

  @if $spinnerSolidColor!=null and $spinnerBottomColor!=null {
    .spinner {
      border: 3px solid $spinnerSolidColor;
      border-bottom-color: $spinnerBottomColor;
    }
  }
}

@mixin btn-outline-colors($name, $borderColor, $textColor) {
  &.#{$prefix}-btn-#{$name} {
    @include outline-color($borderColor);
    @include text-color($textColor);
    @include spinner($white, $borderColor);
  }
}

@mixin btn-link-colors($name, $color, $hoverColor, $activeColor) {
  &.#{$prefix}-btn-#{$name} {
    @include text-color($color);
    @include spinner($white, $color);

    &:hover {
      @include text-color($hoverColor);
    }
    &:active {
      @include text-color($activeColor);
    }
  }
}

.base {
  padding: px-to-rem(12px) px-to-rem(24px);
  border: none;
  display: flex;
  border-radius: px-to-rem(8px);
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: px-to-rem(8px);
  width: fit-content;
  text-decoration: none;
  transition: 100ms all;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;

  .loading {
    opacity: 0;
  }

  .spinner {
    opacity: 1;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  &:active {
    border-color: transparent;
    outline: 2px solid #{$blue-light}44;
  }
}

.#{$prefix}-btn-default {
  @extend .base;

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  &.#{$prefix}-btn-lg {
    font-size: px-to-rem(18px);
  }

  &.#{$prefix}-btn-md {
    font-size: px-to-rem(14px);
  }

  &.#{$prefix}-btn-sm {
    font-size: px-to-rem(12px);
  }

  @each $name, $bgColor, $textColor, $hoverColor, $activeColor, $spinnerSolidColor, $spinnerBottomColor in $default-colors {
    &.#{$prefix}-btn-#{$name} {
      @include btn-default-colors($name, $bgColor, $textColor, $hoverColor, $activeColor, $spinnerSolidColor, $spinnerBottomColor);
    }
  }
}

.#{$prefix}-btn-link {
  @extend .base;
  background-color: transparent;

  @each $name, $bgColor, $textColor, $hoverColor, $activeColor in $default-colors {
    &.#{$prefix}-btn-#{$name} {
      @include btn-link-colors($name, $bgColor, $hoverColor, $activeColor);
    }
  }
}

.#{$prefix}-btn-outline {
  @extend .base;
  background-color: transparent;
  outline: 1px solid;

  &:hover {
    outline: 3px solid;
  }

  @each $name, $bgColor, $hoverColor, $activeColor in $default-colors {
    &.#{$prefix}-btn-#{$name} {
      @include btn-outline-colors($name, $bgColor, $bgColor);
    }
  }
}
