@import '../../common/styles/base/mixins';
@import '../../common/styles/base/colors';
@import '../../common/styles/base/spacing';
@import '../../common/styles/base/texts';
@import '../../common/styles/base/backgrounds';

.base {
  padding: $space-10 $space-20;
  border: 1px solid transparent;
  border-radius: $space-8;
  cursor: pointer;
  width: fit-content;
  display: flex;
  justify-content: center;
  text-decoration: none;
  transition: 200ms all;

  &:active {
    border-color: transparent;
    outline: 2px solid #{$blue-light}44;
  }

  &.button-xs {
    @extend .text-xs;
  }
  &.button-sm {
    @extend .text-sm;
  }
  &.button-md {
    @extend .text-md;
  }
  &.button-lg {
    @extend .text-lg;
  }
  &.button-xl {
    @extend .text-xl;
  }
  &.button-xxl {
    @extend .text-xxl;
  }
}

.button,
.button-default {
  @extend .base;

  &.button-error {
    @extend .bg-error, .text-white;
    &:hover {
      @extend .bg-error-dark;
    }
    &:active {
      @extend .bg-error;
    }
  }

  &.button-supernova {
    @extend .bg-supernova, .text-black;
    &:hover {
      @extend .bg-supernova-dark;
    }
    &:active {
      @extend .bg-supernova;
    }
  }

  &.button-nebula-blue {
    @extend .bg-nebula-blue, .text-white;
    &:hover {
      @extend .bg-nebula-blue-dark;
    }
    &:active {
      @extend .bg-nebula-blue;
    }
  }

  &.button-cobalt {
    @extend .bg-cobalt, .text-white;
    &:hover {
      @extend .bg-cobalt-dark;
    }
    &:active {
      @extend .bg-cobalt;
    }
  }

  &.button-comet {
    @extend .bg-comet, .text-white;
    &:hover {
      @extend .bg-comet-dark;
    }
    &:active {
      @extend .bg-comet;
    }
  }

  &.button-white {
    @extend .bg-white, .text-black;
    &:hover {
      @extend .bg-light;
    }
    &:active {
      @extend .bg-lighter;
    }
  }

  &.button-black {
    @extend .bg-black, .text-white;
    &:hover {
      @extend .bg-black;
    }
    &:active {
      @extend .bg-black;
    }
  }
}

.button-link {
  @extend .base;
  background-color: transparent;
  &.button-supernova {
    @extend .text-supernova;
  }
  &.button-cobalt {
    @extend .text-cobalt;
  }
  &.button-comet {
    @extend .text-comet;
  }
  &.button-error {
    @extend .text-error;
  }
  &.button-nebula-blue {
    @extend .text-nebula-blue;
  }
  &.button-black {
    @extend .text-black;
  }
  &.button-white {
    @extend .text-white;
  }
}

.button-outline {
  @extend .base;
  background-color: transparent;
  &.button-supernova {
    @extend .text-supernova, .border-supernova;
  }
  &.button-cobalt {
    @extend .text-cobalt, .border-cobalt;
  }
  &.button-comet {
    @extend .text-comet, .border-comet;
  }
  &.button-error {
    @extend .text-error, .border-error;
  }
  &.button-nebula-blue {
    @extend .text-nebula-blue, .border-nebula-blue;
  }
  &.button-black {
    @extend .text-black, .border-black;
  }
  &.button-white {
    @extend .text-white, .border-white;
  }
}
