@font-face {
  font-family: 'icons';
  src: url('nec-icons.eot?58970762');
  src: url('nec-icons.eot?58970762#iefix') format('embedded-opentype'),
    url('nec-icons.woff2?58970762') format('woff2'),
    url('nec-icons.woff?58970762') format('woff'),
    url('nec-icons.ttf?58970762') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.icons {
  font-family: 'icons';
  font-style: normal;
}

.icon-add-stamp-bold:before {
  content: '\ea01';
}
.icon-add-stamp-light:before {
  content: '\ea02';
}
.icon-add-stamp-regular:before {
  content: '\ea03';
}
.icon-adjustment-bold:before {
  content: '\ea04';
}
.icon-adjustment-light:before {
  content: '\ea05';
}
.icon-adjustment-regular:before {
  content: '\ea06';
}
.icon-adress-book-add-bold:before {
  content: '\ea07';
}
.icon-adress-book-add-light:before {
  content: '\ea08';
}
.icon-adress-book-add-regular:before {
  content: '\ea09';
}
.icon-adress-book-bold:before {
  content: '\ea0a';
}
.icon-adress-book-checked-bold:before {
  content: '\ea0b';
}
.icon-adress-book-checked-light:before {
  content: '\ea0c';
}
.icon-adress-book-checked-regular:before {
  content: '\ea0d';
}
.icon-adress-book-light:before {
  content: '\ea0e';
}
.icon-adress-book-regular:before {
  content: '\ea0f';
}
.icon-adresse-email-bold:before {
  content: '\ea10';
}
.icon-adresse-email-light:before {
  content: '\ea11';
}
.icon-adresse-email-regular:before {
  content: '\ea12';
}
.icon-alert-bold:before {
  content: '\ea13';
}
.icon-alert-light:before {
  content: '\ea14';
}
.icon-alert-regular:before {
  content: '\ea15';
}
.icon-alignment-bottom-regular:before {
  content: '\ea16';
}
.icon-alignment-horizontal-center-regular:before {
  content: '\ea17';
}
.icon-alignment-left-regular:before {
  content: '\ea18';
}
.icon-alignment-right-regular:before {
  content: '\ea19';
}
.icon-alignment-top-regular:before {
  content: '\ea1a';
}
.icon-alignment-vertical-center-regular:before {
  content: '\ea1b';
}
.icon-appel-entrant-bold:before {
  content: '\ea1c';
}
.icon-appel-entrant-light:before {
  content: '\ea1d';
}
.icon-appel-entrant-regular:before {
  content: '\ea1e';
}
.icon-appel-sortant-bold:before {
  content: '\ea1f';
}
.icon-appel-sortant-light:before {
  content: '\ea20';
}
.icon-appel-sortant-regular:before {
  content: '\ea21';
}
.icon-ar-kit-bold:before {
  content: '\ea22';
}
.icon-ar-kit-light:before {
  content: '\ea23';
}
.icon-ar-kit-regular:before {
  content: '\ea24';
}
.icon-arrow-back-bold:before {
  content: '\ea25';
}
.icon-arrow-back-light:before {
  content: '\ea26';
}
.icon-arrow-back-regular:before {
  content: '\ea27';
}
.icon-arrow-back-rounded-bold:before {
  content: '\ea28';
}
.icon-arrow-back-rounded-light:before {
  content: '\ea29';
}
.icon-arrow-back-rounded-regular:before {
  content: '\ea2a';
}
.icon-arrow-bent-bold:before {
  content: '\ea2b';
}
.icon-arrow-bent-light:before {
  content: '\ea2c';
}
.icon-arrow-bent-regular:before {
  content: '\ea2d';
}
.icon-arrow-bent-rounded-bold:before {
  content: '\ea2e';
}
.icon-arrow-bent-rounded-light:before {
  content: '\ea2f';
}
.icon-arrow-bent-rounded-regular:before {
  content: '\ea30';
}
.icon-arrow-double-left-bold:before {
  content: '\ea31';
}
.icon-arrow-double-left-light:before {
  content: '\ea32';
}
.icon-arrow-double-left-regular:before {
  content: '\ea33';
}
.icon-arrow-double-left-rounded-bold:before {
  content: '\ea34';
}
.icon-arrow-double-left-rounded-light:before {
  content: '\ea35';
}
.icon-arrow-double-left-rounded-regular:before {
  content: '\ea36';
}
.icon-arrow-double-right-bold:before {
  content: '\ea37';
}
.icon-arrow-double-right-light:before {
  content: '\ea38';
}
.icon-arrow-double-right-regular:before {
  content: '\ea39';
}
.icon-arrow-double-right-rounded-bold:before {
  content: '\ea3a';
}
.icon-arrow-double-right-rounded-light:before {
  content: '\ea3b';
}
.icon-arrow-double-right-rounded-regular:before {
  content: '\ea3c';
}
.icon-arrow-down-bold:before {
  content: '\ea3d';
}
.icon-arrow-down-light:before {
  content: '\ea3e';
}
.icon-arrow-down-regular:before {
  content: '\ea3f';
}
.icon-arrow-down-rounded-bold:before {
  content: '\ea40';
}
.icon-arrow-down-rounded-light:before {
  content: '\ea41';
}
.icon-arrow-down-rounded-regular:before {
  content: '\ea42';
}
.icon-arrow-dragndrop-light:before {
  content: '\ea43';
}
.icon-arrow-dragndrop-regular:before {
  content: '\ea44';
}
.icon-arrow-enlarge-light:before {
  content: '\ea45';
}
.icon-arrow-enlarge-regular:before {
  content: '\ea46';
}
.icon-arrow-external-link-light:before {
  content: '\ea47';
}
.icon-arrow-external-link-regular:before {
  content: '\ea48';
}
.icon-arrow-large-down-bold:before {
  content: '\ea49';
}
.icon-arrow-large-down-light:before {
  content: '\ea4a';
}
.icon-arrow-large-down-regular:before {
  content: '\ea4b';
}
.icon-arrow-large-left-bold:before {
  content: '\ea4c';
}
.icon-arrow-large-left-light:before {
  content: '\ea4d';
}
.icon-arrow-large-left-regular:before {
  content: '\ea4e';
}
.icon-arrow-large-left-rounded-bold:before {
  content: '\ea4f';
}
.icon-arrow-large-left-rounded-light:before {
  content: '\ea50';
}
.icon-arrow-large-left-rounded-regular:before {
  content: '\ea51';
}
.icon-arrow-large-right-bold:before {
  content: '\ea52';
}
.icon-arrow-large-right-light:before {
  content: '\ea53';
}
.icon-arrow-large-right-regular:before {
  content: '\ea54';
}
.icon-arrow-large-right-rounded-bold:before {
  content: '\ea55';
}
.icon-arrow-large-right-rounded-light:before {
  content: '\ea56';
}
.icon-arrow-large-right-rounded-regular:before {
  content: '\ea57';
}
.icon-arrow-large-up-bold:before {
  content: '\ea58';
}
.icon-arrow-large-up-light:before {
  content: '\ea59';
}
.icon-arrow-large-up-regular:before {
  content: '\ea5a';
}
.icon-arrow-large-up-right-bold:before {
  content: '\ea5b';
}
.icon-arrow-large-up-right-light:before {
  content: '\ea5c';
}
.icon-arrow-large-up-right-regular:before {
  content: '\ea5d';
}
.icon-arrow-large-up-right-rounded-bold:before {
  content: '\ea5e';
}
.icon-arrow-large-up-right-rounded-light:before {
  content: '\ea5f';
}
.icon-arrow-large-up-right-rounded-regular:before {
  content: '\ea60';
}
.icon-arrow-left-bold:before {
  content: '\ea61';
}
.icon-arrow-left-light:before {
  content: '\ea62';
}
.icon-arrow-left-regular:before {
  content: '\ea63';
}
.icon-arrow-left-rounded-bold:before {
  content: '\ea64';
}
.icon-arrow-left-rounded-light:before {
  content: '\ea65';
}
.icon-arrow-left-rounded-regular:before {
  content: '\ea66';
}
.icon-arrow-right-bold:before {
  content: '\ea67';
}
.icon-arrow-right-light:before {
  content: '\ea68';
}
.icon-arrow-right-regular:before {
  content: '\ea69';
}
.icon-arrow-right-rounded-bold:before {
  content: '\ea6a';
}
.icon-arrow-right-rounded-light:before {
  content: '\ea6b';
}
.icon-arrow-right-rounded-regular:before {
  content: '\ea6c';
}
.icon-arrow-sidenav-close-light:before {
  content: '\ea6d';
}
.icon-arrow-sidenav-close-regular:before {
  content: '\ea6e';
}
.icon-arrow-sidenav-open-light:before {
  content: '\ea6f';
}
.icon-arrow-sidenav-open-regular:before {
  content: '\ea70';
}
.icon-arrow-sort-bold:before {
  content: '\ea71';
}
.icon-arrow-sort-light:before {
  content: '\ea72';
}
.icon-arrow-sort-regular:before {
  content: '\ea73';
}
.icon-arrow-up-bold:before {
  content: '\ea74';
}
.icon-arrow-up-light:before {
  content: '\ea75';
}
.icon-arrow-up-regular:before {
  content: '\ea76';
}
.icon-arrow-up-rounded-bold:before {
  content: '\ea77';
}
.icon-arrow-up-rounded-light:before {
  content: '\ea78';
}
.icon-arrow-up-rounded-regular:before {
  content: '\ea79';
}
.icon-avantages-bold:before {
  content: '\ea7a';
}
.icon-avantages-light:before {
  content: '\ea7b';
}
.icon-avantages-regular:before {
  content: '\ea7c';
}
.icon-banque-bold:before {
  content: '\ea7d';
}
.icon-banque-light:before {
  content: '\ea7e';
}
.icon-banque-regular:before {
  content: '\ea7f';
}
.icon-barcode-bold:before {
  content: '\ea80';
}
.icon-barcode-light:before {
  content: '\ea81';
}
.icon-barcode-regular:before {
  content: '\ea82';
}
.icon-benefice-bold:before {
  content: '\ea83';
}
.icon-benefice-light:before {
  content: '\ea84';
}
.icon-benefice-regular:before {
  content: '\ea85';
}
.icon-bithday-bold:before {
  content: '\ea86';
}
.icon-bithday-light:before {
  content: '\ea87';
}
.icon-bithday-regular:before {
  content: '\ea88';
}
.icon-burger-bold:before {
  content: '\ea89';
}
.icon-burger-light:before {
  content: '\ea8a';
}
.icon-burger-regular:before {
  content: '\ea8b';
}
.icon-calendar-bold:before {
  content: '\ea8c';
}
.icon-calendar-light:before {
  content: '\ea8d';
}
.icon-calendar-regular:before {
  content: '\ea8e';
}
.icon-calendar-reload-bold:before {
  content: '\ea8f';
}
.icon-calendar-reload-light:before {
  content: '\ea90';
}
.icon-calendar-reload-regular:before {
  content: '\ea91';
}
.icon-caracteristique-bold:before {
  content: '\ea92';
}
.icon-caracteristique-light:before {
  content: '\ea93';
}
.icon-caracteristique-regular:before {
  content: '\ea94';
}
.icon-cart-add-bold:before {
  content: '\ea95';
}
.icon-cart-add-light:before {
  content: '\ea96';
}
.icon-cart-add-regular:before {
  content: '\ea97';
}
.icon-cart-bold:before {
  content: '\ea98';
}
.icon-cart-feedback-bold:before {
  content: '\ea99';
}
.icon-cart-feedback-light:before {
  content: '\ea9a';
}
.icon-cart-feedback-regular:before {
  content: '\ea9b';
}
.icon-cart-full-bold:before {
  content: '\ea9c';
}
.icon-cart-full-light:before {
  content: '\ea9d';
}
.icon-cart-full-regular:before {
  content: '\ea9e';
}
.icon-cart-light:before {
  content: '\ea9f';
}
.icon-cart-regular:before {
  content: '\eaa0';
}
.icon-cart-reload-bold:before {
  content: '\eaa1';
}
.icon-cart-reload-light:before {
  content: '\eaa2';
}
.icon-cart-reload-regular:before {
  content: '\eaa3';
}
.icon-certification-bold:before {
  content: '\eaa4';
}
.icon-certification-light:before {
  content: '\eaa5';
}
.icon-certification-regular:before {
  content: '\eaa6';
}
.icon-chatbot-bold:before {
  content: '\eaa7';
}
.icon-chatbot-light:before {
  content: '\eaa8';
}
.icon-chatbot-regular:before {
  content: '\eaa9';
}
.icon-check-light:before {
  content: '\eaaa';
}
.icon-check-regular:before {
  content: '\eaab';
}
.icon-check-rounded-bold:before {
  content: '\eaac';
}
.icon-check-rounded-light:before {
  content: '\eaad';
}
.icon-check-rounded-regular:before {
  content: '\eaae';
}
.icon-check-switch-light:before {
  content: '\eaaf';
}
.icon-check-switch-regular:before {
  content: '\eab0';
}
.icon-close-light:before {
  content: '\eab1';
}
.icon-close-regular:before {
  content: '\eab2';
}
.icon-close-rounded-bold:before {
  content: '\eab3';
}
.icon-close-rounded-light:before {
  content: '\eab4';
}
.icon-close-rounded-regular:before {
  content: '\eab5';
}
.icon-cloud-bold:before {
  content: '\eab6';
}
.icon-cloud-light:before {
  content: '\eab7';
}
.icon-cloud-regular:before {
  content: '\eab8';
}
.icon-contract-bold:before {
  content: '\eab9';
}
.icon-contract-light:before {
  content: '\eaba';
}
.icon-contract-regular:before {
  content: '\eabb';
}
.icon-copy-bold:before {
  content: '\eabc';
}
.icon-copy-light:before {
  content: '\eabd';
}
.icon-copy-regular:before {
  content: '\eabe';
}
.icon-cost-bold:before {
  content: '\eabf';
}
.icon-cost-light:before {
  content: '\eac0';
}
.icon-cost-regular:before {
  content: '\eac1';
}
.icon-credit-card-bold:before {
  content: '\eac2';
}
.icon-credit-card-light:before {
  content: '\eac3';
}
.icon-credit-card-regular:before {
  content: '\eac4';
}
.icon-delivery-bold:before {
  content: '\eac5';
}
.icon-delivery-light:before {
  content: '\eac6';
}
.icon-delivery-person-bold:before {
  content: '\eac7';
}
.icon-delivery-person-light:before {
  content: '\eac8';
}
.icon-delivery-person-regular:before {
  content: '\eac9';
}
.icon-delivery-regular:before {
  content: '\eaca';
}
.icon-departure-bold:before {
  content: '\eacb';
}
.icon-departure-light:before {
  content: '\eacc';
}
.icon-departure-regular:before {
  content: '\eacd';
}
.icon-deposit-post-office-bold:before {
  content: '\eace';
}
.icon-deposit-post-office-light:before {
  content: '\eacf';
}
.icon-deposit-post-office-regular:before {
  content: '\ead0';
}
.icon-destination-flag-bold:before {
  content: '\ead1';
}
.icon-destination-flag-light:before {
  content: '\ead2';
}
.icon-destination-flag-regular:before {
  content: '\ead3';
}
.icon-digiposte-bold:before {
  content: '\ead4';
}
.icon-digiposte-regular:before {
  content: '\ead5';
}
.icon-display-framed-grid-bold:before {
  content: '\ead6';
}
.icon-display-framed-grid-light:before {
  content: '\ead7';
}
.icon-display-framed-grid-regular:before {
  content: '\ead8';
}
.icon-display-framed-list-bold:before {
  content: '\ead9';
}
.icon-display-framed-list-light:before {
  content: '\eada';
}
.icon-display-framed-list-regular:before {
  content: '\eadb';
}
.icon-display-grid-bold:before {
  content: '\eadc';
}
.icon-display-grid-light:before {
  content: '\eadd';
}
.icon-display-grid-regular:before {
  content: '\eade';
}
.icon-display-list-bold:before {
  content: '\eadf';
}
.icon-display-list-light:before {
  content: '\eae0';
}
.icon-display-list-regular:before {
  content: '\eae1';
}
.icon-display-small-framed-grid-bold:before {
  content: '\eae2';
}
.icon-display-small-framed-grid-light:before {
  content: '\eae3';
}
.icon-display-small-framed-grid-regular:before {
  content: '\eae4';
}
.icon-display-small-grid-bold:before {
  content: '\eae5';
}
.icon-display-small-grid-light:before {
  content: '\eae6';
}
.icon-display-small-grid-regular:before {
  content: '\eae7';
}
.icon-download-bold:before {
  content: '\eae8';
}
.icon-download-light:before {
  content: '\eae9';
}
.icon-download-regular:before {
  content: '\eaea';
}
.icon-dragndrop-table-light:before {
  content: '\eaeb';
}
.icon-dragndrop-table-regular:before {
  content: '\eaec';
}
.icon-draw-bold:before {
  content: '\eaed';
}
.icon-draw-light:before {
  content: '\eaee';
}
.icon-draw-regular:before {
  content: '\eaef';
}
.icon-duplicate-bold:before {
  content: '\eaf0';
}
.icon-duplicate-light:before {
  content: '\eaf1';
}
.icon-duplicate-regular:before {
  content: '\eaf2';
}
.icon-echange-bold:before {
  content: '\eaf3';
}
.icon-echange-light:before {
  content: '\eaf4';
}
.icon-echange-regular:before {
  content: '\eaf5';
}
.icon-ecologie-bold:before {
  content: '\eaf6';
}
.icon-ecologie-light:before {
  content: '\eaf7';
}
.icon-ecologie-regular:before {
  content: '\eaf8';
}
.icon-editing-certification:before {
  content: '\eaf9';
}
.icon-editing-programfid:before {
  content: '\eafa';
}
.icon-email-sent-bold:before {
  content: '\eafb';
}
.icon-email-sent-light:before {
  content: '\eafc';
}
.icon-email-sent-regular:before {
  content: '\eafd';
}
.icon-eraser-light:before {
  content: '\eafe';
}
.icon-eraser-regular:before {
  content: '\eaff';
}
.icon-express-stamp-bold:before {
  content: '\eb00';
}
.icon-express-stamp-light:before {
  content: '\eb01';
}
.icon-express-stamp-regular:before {
  content: '\eb02';
}
.icon-eye-bold:before {
  content: '\eb03';
}
.icon-eye-close-bold:before {
  content: '\eb04';
}
.icon-eye-close-light:before {
  content: '\eb05';
}
.icon-eye-close-regular:before {
  content: '\eb06';
}
.icon-eye-light:before {
  content: '\eb07';
}
.icon-eye-regular:before {
  content: '\eb08';
}
.icon-facebook-bold:before {
  content: '\eb09';
}
.icon-facebook-regular:before {
  content: '\eb0a';
}
.icon-favorite-bold:before {
  content: '\eb0b';
}
.icon-favorite-light:before {
  content: '\eb0c';
}
.icon-favorite-regular:before {
  content: '\eb0d';
}
.icon-favorite-rounded-bold:before {
  content: '\eb0e';
}
.icon-favorite-rounded-light:before {
  content: '\eb0f';
}
.icon-favorite-rounded-regular:before {
  content: '\eb10';
}
.icon-file-bold:before {
  content: '\eb11';
}
.icon-file-draft-bold:before {
  content: '\eb12';
}
.icon-file-draft-light:before {
  content: '\eb13';
}
.icon-file-draft-regular:before {
  content: '\eb14';
}
.icon-file-editor-bold:before {
  content: '\eb15';
}
.icon-file-editor-light:before {
  content: '\eb16';
}
.icon-file-editor-regular:before {
  content: '\eb17';
}
.icon-file-favorite-bold:before {
  content: '\eb18';
}
.icon-file-favorite-light:before {
  content: '\eb19';
}
.icon-file-favorite-regular:before {
  content: '\eb1a';
}
.icon-file-image-bold:before {
  content: '\eb1b';
}
.icon-file-image-light:before {
  content: '\eb1c';
}
.icon-file-image-regular:before {
  content: '\eb1d';
}
.icon-file-light:before {
  content: '\eb1e';
}
.icon-file-pdf-bold:before {
  content: '\eb1f';
}
.icon-file-pdf-light:before {
  content: '\eb20';
}
.icon-file-pdf-regular:before {
  content: '\eb21';
}
.icon-file-regular:before {
  content: '\eb22';
}
.icon-file-text-bold:before {
  content: '\eb23';
}
.icon-file-text-light:before {
  content: '\eb24';
}
.icon-file-text-regular:before {
  content: '\eb25';
}
.icon-file-xls-bold:before {
  content: '\eb26';
}
.icon-file-xls-light:before {
  content: '\eb27';
}
.icon-file-xls-regular:before {
  content: '\eb28';
}
.icon-filter-bold:before {
  content: '\eb29';
}
.icon-filter-light:before {
  content: '\eb2a';
}
.icon-filter-regular:before {
  content: '\eb2b';
}
.icon-findeparcours-bold:before {
  content: '\eb2c';
}
.icon-findeparcours-light:before {
  content: '\eb2d';
}
.icon-findeparcours-regular:before {
  content: '\eb2e';
}
.icon-flag-bold:before {
  content: '\eb2f';
}
.icon-flag-light:before {
  content: '\eb30';
}
.icon-flag-regular:before {
  content: '\eb31';
}
.icon-fontsize-bigger-bold:before {
  content: '\eb32';
}
.icon-fontsize-bigger-light:before {
  content: '\eb33';
}
.icon-fontsize-bigger-regular:before {
  content: '\eb34';
}
.icon-fontsize-smaller-bold:before {
  content: '\eb35';
}
.icon-fontsize-smaller-light:before {
  content: '\eb36';
}
.icon-fontsize-smaller-regular:before {
  content: '\eb37';
}
.icon-friend-light:before {
  content: '\eb38';
}
.icon-friend-regular:before {
  content: '\eb39';
}
.icon-geoloc-bold:before {
  content: '\eb3a';
}
.icon-geoloc-light:before {
  content: '\eb3b';
}
.icon-geoloc-regular:before {
  content: '\eb3c';
}
.icon-gesture-pinch-bold:before {
  content: '\eb3d';
}
.icon-gesture-pinch-light:before {
  content: '\eb3e';
}
.icon-gesture-pinch-regular:before {
  content: '\eb3f';
}
.icon-ghost-bold:before {
  content: '\eb40';
}
.icon-ghost-light:before {
  content: '\eb41';
}
.icon-ghost-regular:before {
  content: '\eb42';
}
.icon-globalite-bold:before {
  content: '\eb43';
}
.icon-globalite-light:before {
  content: '\eb44';
}
.icon-globalite-regular:before {
  content: '\eb45';
}
.icon-glu-stick-bold:before {
  content: '\eb46';
}
.icon-glu-stick-light:before {
  content: '\eb47';
}
.icon-glu-stick-regular:before {
  content: '\eb48';
}
.icon-help-bold:before {
  content: '\eb49';
}
.icon-help-light:before {
  content: '\eb4a';
}
.icon-help-regular:before {
  content: '\eb4b';
}
.icon-icon-state:before {
  content: '\eb4c';
}
.icon-identitee-numerique-regular:before {
  content: '\eb4d';
}
.icon-import-bold:before {
  content: '\eb4e';
}
.icon-import-light:before {
  content: '\eb4f';
}
.icon-import-regular:before {
  content: '\eb50';
}
.icon-inbox-bold:before {
  content: '\eb51';
}
.icon-inbox-light:before {
  content: '\eb52';
}
.icon-inbox-regular:before {
  content: '\eb53';
}
.icon-information-bold:before {
  content: '\eb54';
}
.icon-information-light:before {
  content: '\eb55';
}
.icon-information-regular:before {
  content: '\eb56';
}
.icon-instagram-bold:before {
  content: '\eb57';
}
.icon-instagram-regular:before {
  content: '\eb58';
}
.icon-installation-bold:before {
  content: '\eb59';
}
.icon-installation-light:before {
  content: '\eb5a';
}
.icon-installation-regular:before {
  content: '\eb5b';
}
.icon-invoice-bold:before {
  content: '\eb5c';
}
.icon-invoice-light:before {
  content: '\eb5d';
}
.icon-invoice-regular:before {
  content: '\eb5e';
}
.icon-keyboard-bold:before {
  content: '\eb5f';
}
.icon-keyboard-light:before {
  content: '\eb60';
}
.icon-keyboard-regular:before {
  content: '\eb61';
}
.icon-laposte-bold:before {
  content: '\eb62';
}
.icon-laposte-regular:before {
  content: '\eb63';
}
.icon-laptop-bold:before {
  content: '\eb64';
}
.icon-laptop-light:before {
  content: '\eb65';
}
.icon-laptop-regular:before {
  content: '\eb66';
}
.icon-less-light:before {
  content: '\eb67';
}
.icon-less-regular:before {
  content: '\eb68';
}
.icon-less-rounded-bold:before {
  content: '\eb69';
}
.icon-less-rounded-light:before {
  content: '\eb6a';
}
.icon-less-rounded-regular:before {
  content: '\eb6b';
}
.icon-letter-bold:before {
  content: '\eb6c';
}
.icon-letter-light:before {
  content: '\eb6d';
}
.icon-letter-regular:before {
  content: '\eb6e';
}
.icon-linkedin-bold:before {
  content: '\eb6f';
}
.icon-linkedin-regular:before {
  content: '\eb70';
}
.icon-lock-bold:before {
  content: '\eb71';
}
.icon-lock-light:before {
  content: '\eb72';
}
.icon-lock-regular:before {
  content: '\eb73';
}
.icon-loupe-barcode-light:before {
  content: '\eb74';
}
.icon-loupe-barcode-regular:before {
  content: '\eb75';
}
.icon-loupe-bold:before {
  content: '\eb76';
}
.icon-loupe-light:before {
  content: '\eb77';
}
.icon-loupe-regular:before {
  content: '\eb78';
}
.icon-mailbox-bold:before {
  content: '\eb79';
}
.icon-mailbox-light:before {
  content: '\eb7a';
}
.icon-mailbox-regular:before {
  content: '\eb7b';
}
.icon-map-light:before {
  content: '\eb7c';
}
.icon-map-regular:before {
  content: '\eb7d';
}
.icon-menu-action-light:before {
  content: '\eb7e';
}
.icon-menu-action-regular:before {
  content: '\eb7f';
}
.icon-menu-action-vertical-light:before {
  content: '\eb80';
}
.icon-menu-action-vertical-regular:before {
  content: '\eb81';
}
.icon-message-bold:before {
  content: '\eb82';
}
.icon-message-light:before {
  content: '\eb83';
}
.icon-message-regular:before {
  content: '\eb84';
}
.icon-messenger-bold:before {
  content: '\eb85';
}
.icon-messenger-light:before {
  content: '\eb86';
}
.icon-messenger-regular:before {
  content: '\eb87';
}
.icon-microphone-bold:before {
  content: '\eb88';
}
.icon-microphone-light:before {
  content: '\eb89';
}
.icon-microphone-regular:before {
  content: '\eb8a';
}
.icon-mobilechat-bold:before {
  content: '\eb8b';
}
.icon-mobilechat-light:before {
  content: '\eb8c';
}
.icon-mobilechat-regular:before {
  content: '\eb8d';
}
.icon-mobility-bold:before {
  content: '\eb8e';
}
.icon-mobility-light:before {
  content: '\eb8f';
}
.icon-mobility-regular:before {
  content: '\eb90';
}
.icon-more-light:before {
  content: '\eb91';
}
.icon-more-regular:before {
  content: '\eb92';
}
.icon-more-rounded-bold:before {
  content: '\eb93';
}
.icon-more-rounded-light:before {
  content: '\eb94';
}
.icon-more-rounded-regular:before {
  content: '\eb95';
}
.icon-multicolis-bold:before {
  content: '\eb96';
}
.icon-multicolis-light:before {
  content: '\eb97';
}
.icon-multicolis-regular:before {
  content: '\eb98';
}
.icon-multiletter-bold:before {
  content: '\eb99';
}
.icon-multiletter-light:before {
  content: '\eb9a';
}
.icon-multiletter-regular:before {
  content: '\eb9b';
}
.icon-newsletter-bold:before {
  content: '\eb9c';
}
.icon-newsletter-light:before {
  content: '\eb9d';
}
.icon-newsletter-regular:before {
  content: '\eb9e';
}
.icon-newsletter-sending-bold:before {
  content: '\eb9f';
}
.icon-newsletter-sending-light:before {
  content: '\eba0';
}
.icon-newsletter-sending-regular:before {
  content: '\eba1';
}
.icon-notification-bold:before {
  content: '\eba2';
}
.icon-notification-light:before {
  content: '\eba3';
}
.icon-notification-regular:before {
  content: '\eba4';
}
.icon-nouveau-message-bold:before {
  content: '\eba5';
}
.icon-nouveau-message-light:before {
  content: '\eba6';
}
.icon-nouveau-message-regular:before {
  content: '\eba7';
}
.icon-objectif-atteint-bold:before {
  content: '\eba8';
}
.icon-objectif-atteint-light:before {
  content: '\eba9';
}
.icon-objectif-atteint-regular:before {
  content: '\ebaa';
}
.icon-oder-sumary-bold:before {
  content: '\ebab';
}
.icon-oder-sumary-light:before {
  content: '\ebac';
}
.icon-oder-sumary-regular:before {
  content: '\ebad';
}
.icon-ordering-bold:before {
  content: '\ebae';
}
.icon-ordering-light:before {
  content: '\ebaf';
}
.icon-ordering-regular:before {
  content: '\ebb0';
}
.icon-organisation-bold:before {
  content: '\ebb1';
}
.icon-organisation-light:before {
  content: '\ebb2';
}
.icon-organisation-regular:before {
  content: '\ebb3';
}
.icon-organizing-bold:before {
  content: '\ebb4';
}
.icon-organizing-light:before {
  content: '\ebb5';
}
.icon-organizing-regular:before {
  content: '\ebb6';
}
.icon-pacman-bold:before {
  content: '\ebb7';
}
.icon-pacman-regular:before {
  content: '\ebb8';
}
.icon-paper-clip-light:before {
  content: '\ebb9';
}
.icon-paper-clip-regular:before {
  content: '\ebba';
}
.icon-parking-bold:before {
  content: '\ebbb';
}
.icon-parking-light:before {
  content: '\ebbc';
}
.icon-parking-regular:before {
  content: '\ebbd';
}
.icon-pause-bold:before {
  content: '\ebbe';
}
.icon-pause-light:before {
  content: '\ebbf';
}
.icon-pause-regular:before {
  content: '\ebc0';
}
.icon-pen-bold:before {
  content: '\ebc1';
}
.icon-pen-light:before {
  content: '\ebc2';
}
.icon-pen-regular:before {
  content: '\ebc3';
}
.icon-phone-bold:before {
  content: '\ebc4';
}
.icon-phone-light:before {
  content: '\ebc5';
}
.icon-phone-regular:before {
  content: '\ebc6';
}
.icon-piggybank-bold:before {
  content: '\ebc7';
}
.icon-piggybank-light:before {
  content: '\ebc8';
}
.icon-piggybank-regular:before {
  content: '\ebc9';
}
.icon-pin-bold:before {
  content: '\ebca';
}
.icon-pin-light:before {
  content: '\ebcb';
}
.icon-pin-regular:before {
  content: '\ebcc';
}
.icon-play-bold:before {
  content: '\ebcd';
}
.icon-play-light:before {
  content: '\ebce';
}
.icon-play-regular:before {
  content: '\ebcf';
}
.icon-porte-monnaie-bold:before {
  content: '\ebd0';
}
.icon-porte-monnaie-light:before {
  content: '\ebd1';
}
.icon-porte-monnaie-regular:before {
  content: '\ebd2';
}
.icon-postier-bold:before {
  content: '\ebd3';
}
.icon-postier-light:before {
  content: '\ebd4';
}
.icon-postier-regular:before {
  content: '\ebd5';
}
.icon-printer-bold:before {
  content: '\ebd6';
}
.icon-printer-light:before {
  content: '\ebd7';
}
.icon-printer-regular:before {
  content: '\ebd8';
}
.icon-pro-card:before {
  content: '\ebd9';
}
.icon-profile-active-bold:before {
  content: '\ebda';
}
.icon-profile-active-light:before {
  content: '\ebdb';
}
.icon-profile-active-regular:before {
  content: '\ebdc';
}
.icon-profile-bold:before {
  content: '\ebdd';
}
.icon-profile-light:before {
  content: '\ebde';
}
.icon-profile-regular:before {
  content: '\ebdf';
}
.icon-program-fid-light:before {
  content: '\ebe0';
}
.icon-program-fid-regular:before {
  content: '\ebe1';
}
.icon-promocode-bold:before {
  content: '\ebe2';
}
.icon-promocode-light:before {
  content: '\ebe3';
}
.icon-promocode-regular:before {
  content: '\ebe4';
}
.icon-proxy-bold:before {
  content: '\ebe5';
}
.icon-proxy-light:before {
  content: '\ebe6';
}
.icon-proxy-regular:before {
  content: '\ebe7';
}
.icon-recharge-light:before {
  content: '\ebe8';
}
.icon-recharge-regular:before {
  content: '\ebe9';
}
.icon-recompenses-bold:before {
  content: '\ebea';
}
.icon-recompenses-light:before {
  content: '\ebeb';
}
.icon-recompenses-regular:before {
  content: '\ebec';
}
.icon-reload-light:before {
  content: '\ebed';
}
.icon-reload-regular:before {
  content: '\ebee';
}
.icon-repertory-add-bold:before {
  content: '\ebef';
}
.icon-repertory-add-light:before {
  content: '\ebf0';
}
.icon-repertory-add-regular:before {
  content: '\ebf1';
}
.icon-repertory-bold:before {
  content: '\ebf2';
}
.icon-repertory-light:before {
  content: '\ebf3';
}
.icon-repertory-regular:before {
  content: '\ebf4';
}
.icon-repertoy-save-bold:before {
  content: '\ebf5';
}
.icon-repertoy-save-light:before {
  content: '\ebf6';
}
.icon-repertoy-save-regular:before {
  content: '\ebf7';
}
.icon-save-bold:before {
  content: '\ebf8';
}
.icon-save-light:before {
  content: '\ebf9';
}
.icon-save-regular:before {
  content: '\ebfa';
}
.icon-savings-bold:before {
  content: '\ebfb';
}
.icon-savings-light:before {
  content: '\ebfc';
}
.icon-savings-regular:before {
  content: '\ebfd';
}
.icon-scissors-bold:before {
  content: '\ebfe';
}
.icon-scissors-light:before {
  content: '\ebff';
}
.icon-scissors-regular:before {
  content: '\ec00';
}
.icon-send-bold:before {
  content: '\ec01';
}
.icon-send-light:before {
  content: '\ec02';
}
.icon-send-regular:before {
  content: '\ec03';
}
.icon-share-bold:before {
  content: '\ec04';
}
.icon-share-light:before {
  content: '\ec05';
}
.icon-share-regular:before {
  content: '\ec06';
}
.icon-sign-out-bold:before {
  content: '\ec07';
}
.icon-sign-out-light:before {
  content: '\ec08';
}
.icon-sign-out-regular:before {
  content: '\ec09';
}
.icon-size-bold:before {
  content: '\ec0a';
}
.icon-size-help-bold:before {
  content: '\ec0b';
}
.icon-size-help-light:before {
  content: '\ec0c';
}
.icon-size-help-regular:before {
  content: '\ec0d';
}
.icon-size-light:before {
  content: '\ec0e';
}
.icon-size-regular:before {
  content: '\ec0f';
}
.icon-sorting-out-light:before {
  content: '\ec10';
}
.icon-sorting-out-regular:before {
  content: '\ec11';
}
.icon-spam-light:before {
  content: '\ec12';
}
.icon-spam-regular:before {
  content: '\ec13';
}
.icon-stamp-download-bold:before {
  content: '\ec14';
}
.icon-stamp-download-light:before {
  content: '\ec15';
}
.icon-stamp-download-regular:before {
  content: '\ec16';
}
.icon-stamp-print-bold:before {
  content: '\ec17';
}
.icon-stamp-print-light:before {
  content: '\ec18';
}
.icon-stamp-print-regular:before {
  content: '\ec19';
}
.icon-star-bold:before {
  content: '\ec1a';
}
.icon-star-light:before {
  content: '\ec1b';
}
.icon-star-regular:before {
  content: '\ec1c';
}
.icon-statistiques-bold:before {
  content: '\ec1d';
}
.icon-statistiques-light:before {
  content: '\ec1e';
}
.icon-statistiques-regular:before {
  content: '\ec1f';
}
.icon-suivi-bold:before {
  content: '\ec20';
}
.icon-suivi-light:before {
  content: '\ec21';
}
.icon-suivi-regular:before {
  content: '\ec22';
}
.icon-text-bold:before {
  content: '\ec23';
}
.icon-text-light:before {
  content: '\ec24';
}
.icon-text-regular:before {
  content: '\ec25';
}
.icon-thumb-up-bold:before {
  content: '\ec26';
}
.icon-thumb-up-light:before {
  content: '\ec27';
}
.icon-thumb-up-regular:before {
  content: '\ec28';
}
.icon-time-bold:before {
  content: '\ec29';
}
.icon-time-light:before {
  content: '\ec2a';
}
.icon-time-regular:before {
  content: '\ec2b';
}
.icon-tips-bold:before {
  content: '\ec2c';
}
.icon-tips-light:before {
  content: '\ec2d';
}
.icon-tips-regular:before {
  content: '\ec2e';
}
.icon-tools-bold:before {
  content: '\ec2f';
}
.icon-tools-light:before {
  content: '\ec30';
}
.icon-tools-regular:before {
  content: '\ec31';
}
.icon-transport-bold:before {
  content: '\ec32';
}
.icon-transport-light:before {
  content: '\ec33';
}
.icon-transport-regular:before {
  content: '\ec34';
}
.icon-trash-bold:before {
  content: '\ec35';
}
.icon-trash-light:before {
  content: '\ec36';
}
.icon-trash-regular:before {
  content: '\ec37';
}
.icon-twitter-bold:before {
  content: '\ec38';
}
.icon-twitter-regular:before {
  content: '\ec39';
}
.icon-unavailable-bold:before {
  content: '\ec3a';
}
.icon-unavailable-light:before {
  content: '\ec3b';
}
.icon-unavailable-regular:before {
  content: '\ec3c';
}
.icon-warning-bold:before {
  content: '\ec3d';
}
.icon-warning-light:before {
  content: '\ec3e';
}
.icon-warning-regular:before {
  content: '\ec3f';
}
.icon-weight-bold:before {
  content: '\ec40';
}
.icon-weight-light:before {
  content: '\ec41';
}
.icon-weight-regular:before {
  content: '\ec42';
}
.icon-wheel-bold:before {
  content: '\ec43';
}
.icon-wheel-light:before {
  content: '\ec44';
}
.icon-wheel-regular:before {
  content: '\ec45';
}
.icon-youtube-bold:before {
  content: '\ec46';
}
.icon-youtube-regular:before {
  content: '\ec47';
}
.icon-zoom-plus-bold:before {
  content: '\ec48';
}
.icon-zoom-plus-light:before {
  content: '\ec49';
}
.icon-zoom-plus-regular:before {
  content: '\ec4a';
}
