@import '../../common/styles/base/mixins';
@import '../../common/styles/base/colors';

.solaris-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .solaris-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;

    &:before {
      position: absolute;
      content: '';
      height: 19px;
      width: 19px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: 0.4s;
    }

    &.round {
      border-radius: 34px;

      &:before {
        border-radius: 50%;
      }
    }
  }

  input:checked + .solaris-slider {
    @include bg-color($brand-nebula-blue);

    &:before {
      transform: translateX(34px);
    }
  }

  input:focus + .solaris-slider {
    box-shadow: 0 0 1px #2196f3;
  }
}
